<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <title>ToDo application</title>
    <link th:replace="fragments/bootstrap.html">
</head>
<body>
<div class="container">
    <div th:insert="fragments/navbar.html"></div>
    <p th:inline="text">Hello <span th:remove="tag" sec:authentication="name">anonymous</span>!</p>
    <div th:switch="${tasks}">
        <h2 th:case="null">No tasks yet!</h2>
        <div th:case="*">
            <h2>Tasks</h2>
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task : ${tasks}">
                    <td th:text="${task.name}"></td>
                    <td th:text="${task.description}"></td>
                    <td th:text="${task.status}"></td>
                    <td>
                        <form method="post" th:action="@{/tasks/update/{id}(id=${task.id})}">
                            <button type="submit">Edit</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" th:action="@{/tasks/update/{id}(id=${task.id})}">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div id="anchor">Add tasks</div>
    <a href="/tasks/add">Add a task</a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div>End</div>
</div>
</body>
<div th:insert="fragments/footer.html"></div>
</html>